body * {
	color:                    rgba(0, 0, 0, 0.88) !important;
	background:               rgba(97, 156, 154, 0.33) !important;
	
}

.debug-center {
	display:         flex;
	justify-content: center;
	align-items:     center;
}